{% extends "base.html" %} {% block content %}

<h1 style="text-align: center; font-size: 3em">Movie Recommender System</h1>

<form method="POST" class="row">
  <select name="movie" required id="dynamic-combobox" class="stylish-select">
  <option value="" disabled {% if not selected %}selected{% endif %}>
    -- Select --
  </option>

  {% for item in items %}
    <option value="{{ item }}" {% if item == selected %}selected{% endif %}>
      {{ item }}
    </option>
  {% endfor %}
</select>


  <button type="submit" class="stylish-button">Get Recommendations</button>
</form>

{% if recs %}
  <h3>Recommendations</h3>

  <div class="recs">
    {% for title, poster in zip(recs, recs_poster) %}
      <div class="card">
        <img src="{{ poster }}" alt="{{ title }}" class="poster">
        <p class="title">{{ title }}</p>
      </div>
    {% endfor %}
  </div>
{% endif %}


{% endblock %}
